* {
    margin: 0;
    padding: 0;
}

/* Header CSS Codes */
header {
    left: 0;
    top: 0;
    position: fixed;
    display: grid;
    width: 300px;
    height: 100%;
    background: #54B689;
    color: #fff;
    overflow-y: auto;
    text-align: center;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

header .profile p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
}

header .profile img {
    margin-bottom: 15px;
}
header nav .border {
    border-bottom: 2px solid #fff;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

header nav .profile img {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 50%;
}

header nav .profile ul {
    display: flex;
    list-style-type: none;
    margin-left: 81px;
}

header nav .profile ul .icons {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    padding: 10px;
    border: none;
}

header nav .profile ul .icons:hover{
    opacity: 0.6;
}

header nav .aboutme-sections a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 95px;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
}

header nav .aboutme-sections a:hover{
    color: black;
}

header nav .aboutme-sections img {
    padding-right: 10px;
}

header nav .aboutme-sections .icons {
    width: 30px;
    height: 30px;
}

/* Main CSS Codes */
main {
    margin-left: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 450px;
}

main .about-me .about-me-pic img{
    width: 300px;
    height: 300px;
}

main .portfolio img {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
}

/* Main screen size less then 1200px */
@media (max-width: 1200px) {
    main .about-me-pic{
        display: none;
    }
}

/* Tablet screen size */
@media (max-width: 768px){
    body{
        display: grid;
        width: 100%;
    }

    header{
        display: none;
    }

    main{
        width: 100%;
        margin-left: 0px;
    }

    main .about-me p{
        padding-right: 50px;
    }

    footer .contact-info{
        width: 100%;
        margin-left: -300px;
    }

    footer .contact-info .location-info{
        display: none;
    }
    

}

/* About Me Codes */
.about-me {
    display: grid;
    grid-template-columns: 700px 300px;
    grid-template-rows: 300px;
    grid-template-areas: 
    "about-me-text about-me-pic";
    background-color: #f0f0f0;
    justify-content: center;
}

.about-me-text {
    grid-area: about-me-text;
    align-items: center;
    justify-content: center;
    margin: auto 0px;
    padding-right: 55px;
}

.about-me-text h1{
    margin-bottom: 12px;
    font-size: 32px;
}

.about-me-text h3{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(44, 44, 44);
}

.about-me-text p{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(83, 82, 82);
}

.about-me-text a{
    margin-right: 30px;
    background: #54B689;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    border: 1px solid 54B689;
    border-radius: 5px;
}

.about-me-text a:hover{
    background: #4f4f4f;
    border-color: #4f4f4f;
}

.about-me-pic {
    grid-area: about-me-pic;
    margin-left: 10px;
    background: rgba(207, 206, 206, 0.7);
    border-radius: 50%;

}

/* About-me screen size less then 1200px */
@media (max-width: 1200px){
    .about-me{
        display: flex;
    }
    .about-me-text{
        margin-left: 30px;
    }
}

/* Portfolio Section Codes */
.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-areas:
    "portfolio-text-header portfolio-text-header"
    "project-1 project-2"
    "project-3 project-4";
    margin: 30px auto;
}

.portfolio .portfolio-text-header h1{
    text-align: center;
    font-size: 30px;
}

.portfolio .project-text h5{
    padding: 6px;
    margin-top: 10px;
    margin-left: 12px;
}

.portfolio .project-text p{
    padding: 6px;
    margin-left: 12px;
    margin-top: 2px;
}

.portfolio .project-text h5{
    font-size: 24px;
    font-weight: normal;
    color: rgb(44, 44, 44);
}

.portfolio .project-text p{
    width: 80%;
    font-size: 16px;
    color: rgb(83, 82, 82);
    margin-bottom: 22px;
}

.portfolio-text-header{
    grid-area: portfolio-text-header;
}

.project-1 {
    grid-area: project-1;
    display: flex;
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    align-items: flex-start;
}

.project-2 {
    grid-area: project-2;
    display: flex;
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    align-items: flex-start;
}

.project-3 {
    grid-area: project-3;
    display: flex;
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    align-items: flex-start;
}

.project-4 {
    grid-area: project-4;
    display: flex;
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    align-items: flex-start;
}

.portfolio .project-text a{
    background: #54B689;
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #54B689;
    border-radius: 5px;
    margin-left: 12px;
}
.portfolio .project-text a:hover{
    background: #4f4f4f;
    border-color: #4f4f4f;
}

/* Portfolio screen size less than 1200px */
@media (max-width: 1200px){
    .portfolio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "portfolio-text-header"
        "project-1"
        "project-2"
        "project-3"
        "project-4";
    }
}


/* Contact Section Codes */
.contact{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact .inputs {
    display: flex;
}

.contact form h3 {
    font-size: 24px;
}

.contact .inputs #c-name {
    width: 230px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

.contact .inputs #c-email {
    width: 230px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

.contact form textarea {
    padding-top: 10px;
    padding-left: 10px;
}

.contact h3{
    text-align: center;
}

.contact form button {
    margin-top: 15px;
    background: #54B689;
    border: 1px solid #54B689;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.contact form button:hover{
    background: #4f4f4f;
    border-color: #4f4f4f;
}

/* Footer Section Codes */

footer{
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

footer .contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy-right{
    display: flex;
    margin-right: 30px;
    align-items: center;
}

footer .contact-info p{
    margin-left: 20px;
}

